---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import Wrapper from "../../../components/Wrapper.astro";
import ContactUs from "../../../components/ContactUs.astro";

export async function getStaticPaths() {
  const allCountries = await getCollection("country", ({ id }) => {
    return id.startsWith("en/");
  });

  const paths = allCountries.map((country) => {
    const [lang, ...slug] = country.slug.split("/");
    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: country,
    };
  });

  return paths;
}
const country = Astro.props;
const { Content } = await country.render();
---

<Layout
  title={country.data.seo.seoTitle}
  description={country.data.seo.seoDesc}
>
  <main>
    <Hero
      image={country.data.cover}
      height="h-[300px] md:h-[550px]"
      bottom="bottom-1/2 translate-y-1/2"
      title={country.data.title}
      chat={false}
    />
    <Wrapper>
      {
        country.body && (
          <div class="mt-16 lg:mt-24 prose-lg prose-headings:font-semibold mx-auto w-full md:max-w-2xl lg:max-w-3xl xl:max-w-5xl">
            <Content />
          </div>
        )
      }
      <ContactUs />
    </Wrapper>
  </main>
</Layout>
