---
import { Image } from "astro:assets";
import Wrapper from "./Wrapper.astro";
import logo from "../../public/logo-white.svg";
import Chat from "./Chat.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
const currentYear = new Date().getFullYear();
import chatImg from "../images/chat-white.svg";
import settings from "../data/settings.json";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="py-12 bg-black text-white mt-16">
  <Wrapper>
    <div class="flex flex-col gap-8">
      <div class="flex justify-between items-center text-sm flex-wrap gap-4">
        <Image src={logo} alt="Logo" class="w-24" />
        <Chat image={chatImg.src} classes="w-48" />
        <div class="flex gap-8 md:gap-16 flex-wrap">
          <div class="flex flex-col">
            <h4>{settings.info.name}</h4>
            <p>{settings.info.address}</p>
            <p>{settings.info.city}</p>
          </div>
          <div class="flex flex-col">
            <p>T. {settings.info.phone}</p><p>{settings.info.email}</p>
          </div>
        </div>
      </div>
      <div
        class="text-xs flex flex-wrap-reverse gap-8 md:gap-0 md:items-center justify-between border-t-[1px] border-t-gray-800 pt-8"
      >
        <div>
          &copy; {currentYear} Blue Starfish TB, Ltd.
        </div>
        <ul class="flex flex-wrap items-center gap-4">
          <li>
            <a
              href={`/${lang}/${t("slug.about")}`}
              class={`font-medium tracking-wide drop-shadow-sm ${
                currentPath.indexOf(`/${lang}/${t("slug.about")}`) > -1
                  ? "text-rose-500"
                  : ""
              }`}>{t("nav.about")}</a
            >
          </li>
          <li>
            <a
              href={`/${lang}/${t("slug.countries")}`}
              class={`font-medium tracking-wide drop-shadow-sm ${
                currentPath.indexOf(`/${lang}/${t("slug.countries")}`) > -1
                  ? "text-rose-500"
                  : ""
              }`}>{t("nav.countries")}</a
            >
          </li>
          <li>
            <a
              href={`/${lang}/${t("slug.trips")}`}
              class={`font-medium tracking-wide drop-shadow-sm ${
                currentPath.indexOf(`/${lang}/${t("slug.trips")}`) > -1
                  ? "text-rose-500"
                  : ""
              }`}>{t("nav.trips")}</a
            >
          </li>
          <li>
            <a
              href={`/${lang}/${t("slug.contact")}`}
              class={`font-medium tracking-wide drop-shadow-sm ${
                currentPath.indexOf(`/${lang}/${t("slug.contact")}`) > -1
                  ? "text-rose-500"
                  : ""
              }`}>{t("nav.contact")}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </Wrapper>
</footer>
