---
import Hero from "../components/Hero.astro";
import Wrapper from "../components/Wrapper.astro";
import Layout from "./Layout.astro";
import image from "../assets/images/about-hero.jpg";
import ContactUs from "../components/ContactUs.astro";
import Chat from "../components/Chat.astro";
import chatImg from "../images/chat-green.svg";
import Destinations from "../components/Destinations.astro";
const {frontmatter} = Astro.props;
const intro = frontmatter.intro.split(`\n\n`).map((paragraph: any) => `<p>${paragraph}</p>`).join(``)
const htmlSlot = await Astro.slots.render('default');
---

<Layout title={frontmatter.seoTitle} description={frontmatter.seoDescription}>
  <main>
    <Hero
      image={image}
      height="h-[300px] md:h-[550px]"
      bottom="bottom-1/2 translate-y-1/2"
      title={frontmatter.seoTitle}
      chat={false}
    />
    <Wrapper>
      <div
        class="mt-16 lg:mt-24 lg:w-2/3 lg:mx-auto text-center flex flex-col gap-8" set:html={intro}
      >
      </div>
      <Chat image={chatImg.src} classes="w-56 mt-16" />
      {frontmatter.countriesWidget && <Destinations />}
      {htmlSlot && <div class="mt-16 lg:mt-24">
        <div class="flex flex-col gap-8 text-center md:w-2/3 md:mx-auto">
          <slot />  
        </div>
      </div>}
      <ContactUs />
    </Wrapper>
  </main>
</Layout>
