---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.jsx";
import Nav from "../components/Nav.astro";
import settings from "../data/settings.json";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "../styles/app.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - {settings.site_title}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <ViewTransitions />
    <script
      async
      src="“https://www.googletagmanager.com/gtag/js?id=G-10NKTL5XZN”"
    ></script><script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-10NKTL5XZN");
    </script></head
  >
  <!-- Google tag (gtag.js) -->

  <body class="subpixel-antialiased bg-white text-gray-950 font-normal text-lg">
    <div class="grid grid-flow-row auto-rows-[auto_1fr_auto] h-screen">
      <Header client:only><Nav /></Header>
      <div transition:animate={fade({ duration: "0.5s" })}><slot /></div>
      <Footer />
    </div>
    <style is:global>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </body>
</html>
