---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import Wrapper from "../../../components/Wrapper.astro";
import ContactUs from "../../../components/ContactUs.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog", ({ id }) => {
    return id.startsWith("en/");
  });

  return allPosts.map((post) => ({
    params: { slug: post.slug.split("/").slice(1).toString() },
    props: {
      post,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.seo.seoTitle} description={post.data.seo.seoDesc}>
  <main>
    <Hero
      image={post.data.cover}
      height="h-[300px] md:h-[550px]"
      bottom="bottom-1/2 translate-y-1/2"
      title={post.data.title}
    />
    <Wrapper>
      <div
        class="mt-16 prose-lg prose-headings:font-semibold w-full md:max-w-2xl lg:max-w-3xl xl:max-w-5xl mx-auto"
      >
        <div class="mb-16">{post.data.date.toISOString().slice(0, 10)}</div>
        {post.data.description && <h2>{post.data.description}</h2>}
        <Content />
      </div>
      <ContactUs textEn="Contact Us" />
    </Wrapper>
  </main>
</Layout>
